{% extends 'base.html' %}

{% block title %} Campaigns {% endblock %}

{% block content %}
<h1 style="font-size: 3em; border-bottom: 2px solid black; font-family: 'Oswald', sans-serif; font-optical-sizing: auto; font-style: normal; font-weight: 400; padding-bottom: 10px; ">ALL EVENTS</h1>

<head>
    <meta charset="UTF-8">
    <title>All Events</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Active Events</h2>
        {% for event in active_events %}
            <a href="{% url 'event_detail' event.id %}" style="text-decoration: none; color: inherit;">
                <div style="display: flex; align-items: center; border: 1px solid #ddd; border-radius: 10px; padding: 15px; background-color: #f9f9f9; width: 100%; transition: background-color 0.3s ease"
                onmouseover="this.style.backgroundColor='#e0e0e0'"
                onmouseout="this.style.backgroundColor='#f9f9f9'"
                >
                    <div style="flex-grow: 1;">
                        <h4 style="font-size: 1.1em; margin: 5px 0 10px;">{{ event.name }}</h4>
                        <p style="margin: 0;">{{ event.description }}</p>
                    </div>

                    <div style="width: 80px; height: 80px; margin-left: 15px;">
                        <img src="{{ event.image.url }}" alt="{{ campaign.name }}" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;">
                    </div>
                </div>
            </a>
        {% empty %}
            <p> No active events available.</p>
        {% endfor %}

    <h2>Inactive Events</h2>
        {% for event in inactive_events %}
            <div style="display: flex; align-items: center; border: 1px solid #ddd; border-radius: 10px; padding: 15px; background-color: #f9f9f9; width: 100%">
                <div style="flex-grow: 1;">
                    <h4 style="font-size: 1.1em; margin: 5px 0 10px;">{{ event.name }}</h4>
                    <p style="margin: 0;">{{ event.description }}</p>
                </div>

                <div style="width: 80px; height: 80px; margin-left: 15px;">
                    <img src="{{ event.image.url }}" alt="{{ campaign.name }}" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;">
                </div>
            </div>
        {% empty %}
            <p> No inactive events available.</p>
        {% endfor %}
    
</body>


{% endblock %}