{% extends 'base.html' %}

{% block title %} Campaigns {% endblock %}

{% block content %}

<div style="background-color: clear; padding-left: 0px; display: flex; justify-content: flex-start; align-items: center; gap: 10px;">
    <a href="#campaigns"
        style="background-color: #9a1113; color: white; padding: 8px 16px; border: none; border-radius: 5px; text-decoration: none; font-size: 1em">
        Campaigns
    </a>
    <a href="#events"
        style="background-color: #9a1113; color: white; padding: 8px 16px; border: none; border-radius: 5px; text-decoration: none; font-size: 1em">
        Events
    </a>
    <a href="#milestones"
        style="background-color: #9a1113; color: white; padding: 8px 16px; border: none; border-radius: 5px; text-decoration: none; font-size: 1em">
        Milestones
    </a>
</div>

<h1 id="campaigns" style="font-size: 2.5em; border-bottom: 2px solid black; font-family: 'Oswald', sans-serif; font-optical-sizing: auto; font-style: normal; font-weight: 400; padding-top: 0px; padding-bottom: 10px; ">CAMPAIGNS</h1>

<head>
    <meta charset="UTF-8">
    <title>All Campaigns</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>


    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px; padding-bottom: 10px;">
        <h2 style="margin: 0;">Active Campaigns</h2>
        <div style="display: flex; gap: 10px;">
            <a href="{% url 'supervisor_campaign_history' %}" 
               style="background-color: #9a1113; color: white; padding: 8px 20px; border: none; border-radius: 5px; text-decoration: none;">
                View Campaign Completion History
            </a>
            <a href="{% url 'create_campaign' %}" 
               style="background-color: #9a1113; color: white; padding: 8px 20px; border: none; border-radius: 5px; text-decoration: none;">
                Create New Campaign
            </a>
        </div>
    </div>
    
    

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Locations</th>
                <th>Points</th>
                <th>Created By</th>
                <th>Image</th> <!-- New column for the image -->
                <th>Actions</th>  <!-- New column for actions -->
            </tr>
        </thead>
        <tbody>
            {% for campaign in active_campaigns %}
            <tr>
                <td>{{ campaign.name }}</td>
                <td>{{ campaign.description }}</td>
                <td>{{ campaign.start_date }}</td>
                <td>{{ campaign.end_date }}</td>
                <td>{{ campaign.locations }}</td>
                <td>{{ campaign.points }}</td>
                <td>{{ campaign.created_by.username }}</td>
                <td>
                    {% if campaign.image %}
                        <!-- Display a smaller version of the image, e.g., 50x50 pixels -->
                        <img src="{{ campaign.image.url }}" width="50" height="50" alt="Campaign Image">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'edit_campaign' campaign.id %}">Edit</a> |
                    <a href="{% url 'delete_campaign' campaign.id %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="7">No active campaigns available.</td></tr>
            {% endfor %}
        </tbody>
    </table>


    <h2>Inactive Campaigns</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Locations</th>
                <th>Points</th>
                <th>Created By</th>
                <th>Image</th> <!-- New column for the image -->
                <th>Actions</th>  <!-- New column for actions -->
            </tr>
        </thead>
        <tbody>
            {% for campaign in inactive_campaigns %}
            <tr>
                <td>{{ campaign.name }}</td>
                <td>{{ campaign.description }}</td>
                <td>{{ campaign.start_date }}</td>
                <td>{{ campaign.end_date }}</td>
                <td>{{ campaign.locations }}</td>
                <td>{{ campaign.points }}</td>
                <td>{{ campaign.created_by.username }}</td>
                <td>
                    {% if campaign.image %}
                        <!-- Display a smaller version of the image, e.g., 50x50 pixels -->
                        <img src="{{ campaign.image.url }}" width="50" height="50" alt="Campaign Image">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'edit_campaign' campaign.id %}">Edit</a> |
                    <a href="{% url 'delete_campaign' campaign.id %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="7">No inactive campaigns available.</td></tr>
            {% endfor %}
        </tbody>
    </table>


    <h1 id="events" style="font-size: 2.5em; border-bottom: 2px solid black; font-family: 'Oswald', sans-serif; font-optical-sizing: auto; font-style: normal; font-weight: 400; padding-bottom: 10px; ">UPCOMING EVENTS</h1>
    
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px; padding-bottom: 10px;">
        <h2 style="margin: 0;">Active Events</h2>
        <a href="{% url 'create_event' %}"  
           style="background-color: #9a1113; color: white; padding: 8px 20px; border: none; border-radius: 5px; text-decoration: none;">
            Create New Event
        </a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Locations</th>
                <th>Created By</th>
                <th>Image</th> <!-- New column for the image -->
                <th>Actions</th>  <!-- New column for actions -->
            </tr>
        </thead>
        <tbody>
            {% for event in active_events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td>{{ event.locations }}</td>
                <td>{{ event.created_by.username }}</td>
                <td>
                    {% if event.image %}
                        <!-- Display a smaller version of the image, e.g., 50x50 pixels -->
                        <img src="{{ event.image.url }}" width="50" height="50" alt="Event Image">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'edit_event' event.id %}">Edit</a> |
                    <a href="{% url 'delete_event' event.id %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="7">No active events available.</td></tr>
            {% endfor %}
        </tbody>
    </table>


    <h2>Inactive Events</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Locations</th>
                <th>Created By</th>
                <th>Image</th> <!-- New column for the image -->
                <th>Actions</th>  <!-- New column for actions -->
            </tr>
        </thead>
        <tbody>
            {% for event in inactive_events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td>{{ event.locations }}</td>
                <td>{{ event.created_by.username }}</td>
                <td>
                    {% if event.image %}
                        <!-- Display a smaller version of the image, e.g., 50x50 pixels -->
                        <img src="{{ event.image.url }}" width="50" height="50" alt="Event Image">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'edit_event' event.id %}">Edit</a> |
                    <a href="{% url 'delete_event' event.id %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="7">No inactive events available.</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <h1 id="milestones" style="font-size: 2.5em; border-bottom: 2px solid black; font-family: 'Oswald', sans-serif; font-optical-sizing: auto; font-style: normal; font-weight: 400; padding-bottom: 10px; ">BC MILESTONES</h1>
    
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px; padding-bottom: 10px;">
        <h2 style="margin: 0;">Active Milestones</h2>
        <a href="{% url 'create_milestone' %}" 
           style="background-color: #9a1113; color: white; padding: 8px 20px; border: none; border-radius: 5px; text-decoration: none;">
            Create New Milestone
        </a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created By</th>
                <th>Image</th> <!-- New column for the image -->
                <th>Actions</th>  <!-- New column for actions -->
            </tr>
        </thead>
        <tbody>
            {% for milestone in milestones %}
            <tr>
                <td>{{ milestone.name }}</td>
                <td>{{ milestone.description }}</td>
                <td>{{ milestone.created_by.username }}</td>
                <td>
                    {% if milestone.image %}
                        <!-- Display a smaller version of the image, e.g., 50x50 pixels -->
                        <img src="{{ milestone.image.url }}" width="50" height="50" alt="Milestone Image">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'edit_milestone' milestone.id %}">Edit</a> |
                    <a href="{% url 'delete_milestone' milestone.id %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="7">No active milestones available.</td></tr>
            {% endfor %}
        </tbody>
    </table>

</body>






{% endblock %}